{
  "debug": false,
  "configVersion": "0.0.1",
  "enableDriver": true,
  "driverVersion": "0.0.1",
  "mqttIP": "localhost",
  "mqttPort": "1883",
  "mqttLogin": "",
  "mqttPassword": "",
  "users": [
    {
      "id": "1",
      "enable": "🟢",
      "comment": "",
      "number": "",
      "token": "",
      "listDevices": [
  
      ]
    }
  ]
}